* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
    height: 100dvh;
    width: 100dvw;
    place-content: center;
    background-color: rgb(255, 251, 243);
}

body {
    max-width: 1600px;
    min-width: 250px;
    margin: 0 auto;
    /* Para centrar esta cajita que estoy definiendo de 1600px de ancho */
    width: 100%;
    height: 100%;
    place-content: center;
    /* Aplicado en el body solo para este caso */
}

#fondo {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
    inset: 0;
    margin: 0 auto;
}

#fondo>section:nth-child(1) {
    width: 100%;
    height: 33.4%;
    border-top: .8px solid rgba(0, 0, 0, 0.397);
    border-bottom: .8px solid rgba(0, 0, 0, 0.397);
    border-left: .8px solid rgba(0, 0, 0, 0.397);
    border-right: .8px solid rgba(0, 0, 0, 0.397);
}

#fondo>section:nth-child(2) {
    width: 100%;
    height: 33.3%;
    border-bottom: .8px solid rgba(0, 0, 0, 0.397);
    border-left: .8px solid rgba(0, 0, 0, 0.397);
    border-right: .8px solid rgba(0, 0, 0, 0.397);
}

#fondo>section:nth-child(3) {
    width: 100%;
    height: 33.3%;
    border-left: .8px solid rgba(0, 0, 0, 0.397);
    border-right: .8px solid rgba(0, 0, 0, 0.397);
    border-bottom: .8px solid rgba(0, 0, 0, 0.397);
}

main {
    z-index: 2;
    border: 1px solid rgba(0, 0, 0, 0.397);
    border-radius: clamp(.4rem, 4vw, .8rem);
    background-color: rgb(255, 231, 209);
    width: clamp(250px, 75%, 500px);
    margin: clamp(.4rem, 4vw, 1rem) auto;
    padding: clamp(.6rem, 7vw, 1.2rem);
    gap: 2rem;
    display: flex;
    flex-direction: column;

    >section:first-child {

        height: 200px;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: center;

        h1 {
            font-size: clamp(.6rem, 7vw, 2rem);
            color: rgb(66, 38, 0);
        }

        .color {
            width: 96%;
            height: 55%;
            margin: clamp(.6rem, 7vw, 1.4rem);
            border-radius: clamp(.4rem, 4vw, .8rem);
            border: 1px solid rgba(0, 0, 0, 0.377);
            place-content: center;
            place-items: center;

            .valor {
                width: clamp(100px, 30vw, 150px);
                height: 15%;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px solid rgba(0, 0, 0, 0.432);
                border-radius: clamp(.4rem, 4vw, .8rem);
                margin: 0 auto;
                padding: clamp(.6rem, 7vw, 1.2rem);
                background-color: white;
            }
        }

        button {
            background-color: rgb(255, 214, 173);
            border: 1px solid rgba(0, 0, 0, 0.301);
            cursor: pointer;
            padding: clamp(.1rem, 2vw, .2rem) clamp(.4rem, 5vw, 1.2rem);
            font-weight: bold;
            color: rgb(66, 38, 0);
            font-size: clamp(.5rem, 7vw, 1rem);
            transition-duration: 1s;

            &:hover {
                background-color: rgb(66, 38, 0);
                color: rgb(255, 214, 173);
            }
        }

    }

    >section:last-child {

        text-align: center;

        a {
            font-weight: bold;
            color: black;
            text-decoration: none;
        }

        p {
            font-size: clamp(.4rem, 7vw, .6rem);
        }
    }

}