*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.rojo {
  color: red;
  font-weight: bold;
}

.yellow{
    display: flex;
    background-color: aqua;
}

.card{
    background-color: rebeccapurple;
}