* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

html {
    background-color: beige;
    min-height: 100vh;
    min-width: 100vw;
    display: grid;
    place-items: center; /* Centrando body en toda la mitad de la pantalla */
}

/* Estilos aplicados de forma que cada que se haga zoom, el contenido no se salga y siempre se vea todo en 
pantalla */
body {
    display: flex;
    flex-direction: column; /* Para que los items vayan hacía abajo, no en row */

    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 60dvh; /* El height mínimo que ocupará el body es el 60% del viewport en sentido height */
    min-width: 35dvw /* El width mínimo que ocupará el body es el 35% del viewport en sentido width */;
    
    border: 3px solid rgb(255, 113, 61);
    padding: clamp(1rem, 10vw, 2rem);
    gap: 1rem;

}

header {

    h1 {
        color: orangered;
    }

}

main {

    ul {
        list-style: none;
    }
}

footer {
    font-weight: bold;
}